<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <title>Jember</title>
    </head>
    <body>
       
        <h1 align="center">JEMBER DASHBOARD</h1>
        <hr>
        <div align="center">
        <p> This is a test for jember dashboard </p>
        </div>

    </body>

    <footer> &copyright 2020 </footer>
</html>