<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>Jember &ndash; Distance Education Platform</title>    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    

        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
       
    
       
            <link rel="stylesheet" href="stylesheets/layouts/pricing.css">
</head>
<body>

<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">Jember</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Pricing</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
    </ul>
</div>

<div class="banner">
    <h1 class="banner-head">
        Cheap and Helpful.<br>
        Try before you buy.
    </h1>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <h2>Silver</h2>

                    <span class="pricing-table-price">
                        50Br <span>5 Downloadable Projects</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Free Profile</li>
                    <li>Custom Assignment Front-Page</li>
                    <li>Standard customer support</li>
                </ul>

                <button class="button-choose pure-button">Choose</button>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                    <h2>Gold</h2>

                    <span class="pricing-table-price">
                        100Br <span>12 downloadable projects</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Free Profile</li>
                    <li>Custom Assignment Front-Page</li>
                    <li>Standard customer support</li>
                    <li>Faster Inquiry response time</li>
                    
                </ul>

                <button class="button-choose pure-button">Choose</button>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <h2>Enterprise</h2>

                    <span class="pricing-table-price">
                        150Br <span>Unlimited Downloads Per Month</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Free Profile</li>
                    <li>Custom Assignment Front-page</li>
                    <li>Premium customer support</li>
                    <li>Faster Inquiry response time</li>
                    
                </ul>

                <button class="button-choose pure-button">Choose</button>
            </div>
        </div>
    </div> <!-- end pricing-tables -->

    <div class="information pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Get started today</h3>
                <p>
            Welcome to Jember, an experimental mobile based educational platform. Once you download and sign up on your mobile device, you can enter your profile information in our beautifully designed android mobile app. Then, to activate full size subscription, get your gift cards from the available shops found below on the map according to your needs of tier. You can finally get exclusive information according to your profile to view infomation of about your distance education including calendars, courses and assignments
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">Pay on the go or by subscription</h3>
                <p>
                   We have arranged a system for you to subscribe using vouchers for a cetain amount of downloads or pay on the go according to your preference and needs.
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
                <h3 class="information-head">24/7 customer support</h3>
                <p>
                    Call Us Anytime or Shoot us an email. We promise to get back to you in a convinent time frame.
                </p>
            </div>
        </div>

        
    </div> <!-- end information -->
</div> <!-- end l-content -->

<div class="footer l-box">
    <p>
        <a href="#">Try now</a> for 14 days. No credit card required. 
    </p>
</div>


</body>
</html>