<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <title>Jember</title>
    </head>
    <body>
       
        <h1 align="center">JEMBER DASHBOARD</h1>
        <hr>
        <div align="center">
        <p> Welcome to Jember, an experimental mobile based educational platform. <br>
        Once you sign up without application on your mobile device, you can enter <br>
        your profile information in our beautifully designed android mobile app.  <br>
        Finally, to activate full size subscription, get your gift cards from the <br>
        available shops found below on the map.<br>
        You can finally get exclusive information according to your profile to view<br>
        your registered courses on distance education, your calendar, and get assignments</p>
        </div>

    </body>

    <hr>
    <footer> &copyright 2020 </footer>
</html>